html {
  overflow: auto; height:100%;  margin:0%;
}

body {
  position: fixed; height: 100%; padding: 2% 10%; background-color: #fde8ec;
}

#wrapper {

    background-color: #f8b9c6;
    border: 2px solid black;
    width: 90%;
    height: 90%;
}

.smallPoint
{
   position: fixed; stroke: black; stroke-width: 4; fill: crimson;
   /* cx: 100; cy: 100; r:20; */
}

#genLabel{
  height: 9%; width: 9%; right: 17%; top: 85%; position: fixed;
}
